entrypoint = "run_tests.py"
modules = ["python-3.12"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = "pytest --black --mypy --ruff"
deploymentTarget = "cloudrun"
